<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <title>Dzialanie</title>
</head>
<body>
    <div class="podstrona">

                {% for dzialanie in zadanie.wyswietl() %}
                <div class="dzialanie"> {{ dzialanie }} = ?</div>
                {% endfor %}
                <form action="{{url_for('wynik')}}" method="post">
                    <button class="button-23" type="submit" name="action" value="Przejdź dalej">Przejdź dalej</button>
	            </form>

    </div>
</body>
</html>