<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <title>Litera</title>
    <script type="text/javascript">

         setTimeout(function(){
            window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/dzialanie';
         }, 2000);

    </script>
</head>
<body>
    <form action="{{ url_for('index') }}" method="get">
         <input class="logout_button" id="powrot" type="submit" value="Przerwij" onclick="return confirm('Jeżeli teraz wyjdziesz, Twój wynik nie zostanie zapisany. Czy mimo tego chcesz przerwać?')"/>
    </form>
    <div class="biale_pole">
    <div class="kwadrat">
        <div class="dzialanie">
            {% if zadanie.wybrana != None%}
            <p>{{zadanie.wybrana }}</p>
            <!--- <p>{{zadanie.litery_wylosowane}}</p> --->
            {% endif%}
        </div>
    </div>
    </div>
</body>
</html>