<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ospan</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    <button class="logout_button" id="powrot" type="submit"><span class="text"> Powrót do strony głównej </span></button>
</form>
<div class="tresc_strony">
     <div>
        <h2 class="tytul">OSPAN test</h2>
        <div class="opis_cwiczen">Na ekranie będą pojawiać się cyklicznie po kolei:
            <ul>
                <li>proste działanie matematyczne,</li>
                <li>wynik,</li>
                <li>litera.</li>
            </ul>
            Twoim zadaniem będzie odpowiedzenie na pytanie, czy wyświetlany wynik jest prawdziwy czy fałszywy oraz zapamiętanie litery, która wyświetli się na ekranie. Po zakończeniu bloku ćwiczeń (od 3 do 7 cykli), zobaczysz planszę, na której będziesz musiał wskazać, w jakiej kolejności pojawiły się litery.
        </div>
    </div>
<div>
     <form action="{{url_for('ospan')}}" method="post" id="zadanie1">
         <button class="start_buttons" type="submit" name="action" value="Zadanie 1"><span> Rozpocznij test </span></button>
     </form>
     <h2 class="tytul">Twoje wyniki</h2>
     <form action="{{url_for('index')}}" method="post">
        <button class="start_buttons" type="submit" name="action" value="Wykres OSPAN" ><span> Zobacz swoje wyniki </span></button>
     </form>
</div>


</body>
</html>