<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <script type="text/javascript">
         var x = JSON.parse(" {{ licznik }}");
         if(x != 3) {
             setTimeout(function () {
                 window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/nowa';
             }, 10000);
         }
    </script>
</head>
<body>
    <div class="podstrona">
        <p>procent: {{zadanie.zle}} / {{zadanie.dobrze}}</p>
        <p>{{zadanie.procenty}}%</p>
        <p>Podałeś prawidłowo {{zadanie.punkty}} litery z {{ zadanie.wszystkie_litery}} </p>
        <p>Popełniłeś {{zadanie.zle}}
        {% if zadanie.zle == 1 %}
            błąd matematyczny </p>
        {% elif zadanie.zle == 0 or zadanie.zle >=5 %}
            błędów matematycznych </p>
        {%else%}
            błędy matematycznych </p>
        {% endif %}
    </div>
    <div>
        {%if koniec_licznik == 3%}
        <p>Cwiczenie dobiegło końca</p>
           <form action="{{url_for('koniec')}}" method="post">
                <input type="submit" name="action" value="Zobacz podsumowanie" class="button">
           </form>

        {%endif%}
    </div>

</body>
</html>