<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <script type="text/javascript">
         var x = JSON.parse(" {{ licznik }}");
         if(x != 3) {
             setTimeout(function () {
                 window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/nowa';
             }, 10000);
         }
    </script>
</head>
<body>
<div class="biale_pole">
    <div class="kwadrat">
        <div class="dzialanie">
        <p>Podałeś prawidłowo {{zadanie.punkty}} litery z {{ zadanie.wszystkie_litery}} </p>
        <p>Popełniłeś {{zadanie.zle}}
        {% if zadanie.zle == 1 %}
            błąd matematyczny </p>
        {% elif zadanie.zle == 0 or zadanie.zle >=5 %}
            błędów matematycznych </p>
        {%else%}
            błędy matematyczne </p>
        {% endif %}

        {%if koniec_licznik == 3%}
        <p style="color: #afb42b">Ćwiczenie dobiegło końca</p>
           <form action="{{url_for('koniec')}}" method="post">
               <button class="button-23" type="submit" name="action" value="Zobacz podsumowanie" class="button">Zobacz podsumowanie</button>
           </form>

        {%endif%}
        </div>
    </div>
</div>


</body>
</html>