<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <title>Wynik</title>
</head>
<body>
    <div class="podstrona">
        <div id="wynik">
             {% for wynik in zadanie.wyswitlane %}
                <p> {{ wynik }}</p>
             {% endfor %}


            <form action="{{url_for('litera')}}" method="get">
                    <input type="submit" name="action" value="Prawda" class="button">
                    <input type="submit" name="action" value="Falsz" class="button">
            </form>

            {% if x == 1 %}
                <p>Dobrze!</p>
            {% elif x == 0  %}
                 <p>Zle :C</p>
            {% endif%}
        </div>
    </div>
</body>
</html>
