<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <title>Wynik</title>
</head>
<body>
    <div class="biale_pole">
    <div class="kwadrat">
        <div class="dzialanie">
             {% for wynik in zadanie.wyswitlane %}
                {{ wynik }}
             {% endfor %}
        </div>
            <form action="{{url_for('litera')}}" method="get">
                <button class="button-23" type="submit" name="action" value="Prawda">Prawda</button>
                <button class="button-23" type="submit" name="action" value="Falsz">Fałsz</button>
            </form>
            {% if x == 1 %}
                <p>Dobrze!</p>
            {% elif x == 0  %}
                 <p>Zle :C</p>
            {% endif%}
    </div>
    </div>
</body>
</html>
