<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Ospan</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    <button class="logout_button" id="powrot" type="submit"><span class="text"> Powrót do strony głównej </span></button>
</form>
<div class="tresc_strony">
    <div>
        <h2 class="tytul">Digit span backward</h2>
        <div class="opis_cwiczen">
            <img class="instrukcja" src="https://cdn-icons-png.flaticon.com/512/7305/7305579.png" height="70" width="70">
            Na ekranie będą pojawiać się kolejne litery.<br><br>Twoim zadaniem będzie zapamiętanie szeregu cyfr i odtworzenie go wspak. Każda cyfra wyświetli się na ekranie przez pół sekundy. Na początku będziesz proszony,
            o zapamiętanie 3 cyfr. Jeżeli prawidło wskażesz kolejność, długość szeregu zwiększy się o 1. Maksymalna ilość cyfr do zapamiętania to 8.</p>
        </div>

        <div  class="buttons">
            <form action="{{url_for('digit')}}" method="post" id="zadanie3">
                <button class="start_buttons" type="submit" name="action" value="Zadanie 3"><span> Kliknij, aby rozpocząć </span></button>
            </form>
            <h2 class="tytul">Twoje wyniki</h2>
         <!---<form action="{{url_for('index')}}" method="post">-->
            <button class="start_buttons" type="button" class="tablinks" onclick="openCity(event, 'Digit'), smoothScroll(document.getElementById('second'))"><span> Zobacz! </span></button>
            </div>
            <div id="Digit" class="tabcontent">
                <div class="second" id="second">
                    <embed id="embed" type="text/html" src="http://wierzba.wzks.uj.edu.pl:5122/wykres3"  style="width: 1050px; height:900px;">
                </div>
            </div>
    </div>
</div>
</body>
<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>