<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koniec</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    <button class="logout_button" id="powrot" type="submit"><span class="text"> Powrót do strony głównej </span></button>
</form>
</form>
<div class="koniec" >
    <h2 class="tytul" style="font-size: 40px">KONIEC</h2>
    <p style=" font-family: 'Quicksand', sans-serif; font-size: 20px;">Twój wynik to: {{zadanie3.wynik}}<p>
    <p style=" font-family: 'Quicksand', sans-serif; font-size: 20px;">Liczba błędów: {{zadanie3.bledy}}</p>
</div>

</body>
</html>