<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <title>Pokazanie</title>

</head>
<body>
    <form action="{{ url_for('index') }}" method="get">
         <input class="logout_button" id="powrot" type="submit" value="Przerwij" onclick="return confirm('Jeżeli teraz wyjdziesz, Twój wynik nie zostanie zapisany. Czy mimo tego chcesz przerwać?')"/>
    </form>
    <div class="biale_pole">
        <div id="changeText" class="kwadrat">
        <div class="dzialanie">
        </div>
        </div>
    </div>
<script type="text/javascript">
    var x = {{ cos |tojson }}; //["example1", "example2", "example3"];
    var len= x.length
    var counter = 0;
    var elem = document.getElementById("changeText");
    var inst = setInterval(change, 500);

    function change() {
        elem.innerHTML = x[counter];
        counter++;
        if (counter >= x.length) {
            counter = 0;
            clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
        }
    }
    setTimeout(function () {
        window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/zadanie3_klik';
    }, 1000 * len);
</script>

</body>
</html>