<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nback</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    <button class="logout_button" id="powrot" type="submit"><span class="text"> Powrót do strony głównej </span></button>
</form>
<div class="tresc_strony">
    <div>
        <h2 class="tytul">N-back test</h2>
        <div class="opis_cwiczen">Na ekranie będą pojawiać się kolejne litery. Twoim zadaniem będzie zdecydowanie czy litera wyświetlona na ekranie,
            jest tą samą literą co n liter wcześniej. Ćwiczenie rozpoczyna się od n równego 1. Maksymalna wartość n wynosi 3. W zadaniu liczy się czas reakcji. </div>
    </div>
    <div  class="buttons">
         <form action="{{url_for('nback')}}" method="post" id="zadanie2">
             <button class="start_buttons" type="submit" name="action" value="Instrukcja"><span> Kliknij, aby rozpocząć </span></button>
         </form>
         <h2 class="tytul">Twoje wyniki</h2>
         <form action="{{url_for('index')}}" method="post">
            <button class="start_buttons" type="submit" name="action" value="Wykres N-back" ><span> Zobacz! </span></button>
         </form>
    </div>
</div>

</body>
</html>