<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lvl</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
    <script>
          setTimeout(function(){
            window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/plansza';
         }, 2000);
    </script>
</head>
<body>
<div class="tresc_strony" style="padding-top: 20%">
    <h2 class="tytul" style="font-size: 40px">Liczba n powiększy się o jeden. Teraz szukaj liczb <span style="color:#e64a19">{{zadanie2.n}}</span> wstecz</h2>
</div>
</body>
</html>