<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plansza</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <script type="text/javascript">

         setTimeout(function(){
            window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/decyzja';
         }, 500);

    </script>
    <style>
        hr {
            height: 15px;
            border-radius: 15px;
            width: 30%;
        }
        .green {
            background-color: #afb42b
         }
        .red{
            background-color: #e64a19
        }
        .black{
            background-color: black
        }
        .white{
            background-color: white
        }
    </style>
</head>
<body>
    <!---
    <form action="{{url_for('index')}}" method="get">
        <button class="logout_button" id="powrot" type="submit"><span class="text"> Powrót do strony głównej </span></button>
    </form>
    --->
    <p>{{zadanie2.n}}</p>
    <div class="circles">
        <div class="circle-green">Dobrze:{{zadanie2.punkty}}</div>
        <div class="circle-red">Zle:{{zadanie2.punkty_zle}}</div>
    </div>
    <div class="podstrona">
        {%if zadanie2.kolor == None%}
            <hr class="black"/>
               <p>{{zadanie2.wylosowana}}</p>
            <hr class="black"/>
        {%elif zadanie2.kolor == 1%}
            <hr class="green"/>
               <p>{{zadanie2.wylosowana}}</p>
            <hr class="green"/>
        {%elif zadanie2.kolor == 0%}
            <hr class="red"/>
               <p>{{zadanie2.wylosowana}}</p>
            <hr class="red"/>
        {%endif%}
    </div>

</body>
</html>