body{
  background-color: #efebe9;
}
#start_body{
  /*background-image: url(pexels-katerina-holmes-5905452.jpg);
	background-attachment:fixed ;
    background-size:cover;
  background-color: #efebe9;*/
}

#punkty{
  text-align: left;
}

/*start page*/
.str_p_h1{
  text-decoration: none;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 50px;
  color: #000000;
}
.tytul{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}
.images{
  padding-top: 30px;
  text-align: center;
}
#str_p_h1_back{
  background-color: #ffe54c;/*rgb(247, 211, 54) ;*/
}
#start_page{
  background-color: #efebe9;
}
.buttons_position{
  text-align: center;
  margin: 5px;
  padding: 5px;
  padding-top: 50px;

}

.start_buttons {
  width: 30%;
  table-layout: fixed;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start_buttons:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fce892;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;

}

.start_buttons:hover:after {
  top: 0px;
  left: 0px;
}

.start_buttons:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}


@media (min-width: 768px) {
  .start_buttons {
    padding: 13px 50px 13px;
  }
}
.start_buttons span {
  z-index: 1;
  position: relative;
}
.buttons_task{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 10px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   width: 100%;
   left: 0;
   position: absolute;
   top: 0;

}

/*login page*/
#h2_log{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  color: #000000;
}
.form{
  text-align: center;
}
/*index*/
#log_out{
  position: fixed;
  right: 15px; top: 15px;
}
.logout_button{
 background-color:#F2C641;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.logout_button:hover,
.logout_button:focus{
  background-color: #F2B441;
}

@media screen and (max-width: 1000px) {
  .logout_button {
    /*font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;*/
    padding: 13px 50px 13px;
  }
}
#panel{
  text-align: center;
}
.panel_wykresy {
  text-align: center;
  padding: 30px 50px;
}
.tabcontent {
  text-align: center;
  background-color:#efebe9 ;

  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}
.second{
  text-align: center;
  height:520px;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
}

.tresc_strony{
  //background-color: rgb(239, 235, 233, 0.89);
  text-align: center;
  padding: 10px;
  margin: 10px

}
.opis_start{
  border-radius: 14px;
  background-color: white;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
  padding: 40px 5% 40px 5%;
  margin: 10px 15% ;
  font-size: 20px;
  letter-spacing: 1px;
}
.instrukcja{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
}
.opis_cwiczen{
  border-radius: 14px;
  background-color: white;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
  padding: 5px 5% 40px 5%;
  margin: 10px 15% ;
  font-size: 20px;
  letter-spacing: 1px;
}
.buttons{
  padding-top: 20px;
}
.circles {
  display: flex;
  right: 15px; top: 15px;
}
.circle-red {
  background: #ff7043;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 80px;
  width: 80px;
  font-family: 'Quicksand', sans-serif;
  color:black;
}
.circle-green {
  background-color: #d4e157;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 80px;
  width: 80px;
  font-family: 'Quicksand', sans-serif, bold;
  color: black;
}
.table_koniec {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td_koniec, .th_koniec {
  border: 1px solid #ffe54c;
  text-align: left;
  padding: 8px;
}

.tr_koniec:nth-child(even) {
  background-color: #ffe54c;
}
.dzialanie{
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}
.biale_pole{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  vertical-align: center;
  width:70%;
  height: 62%;
  background-color: white;

}

.kwadrat{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  vertical-align: center;
  font-size: 35px;
  background-color: white;
  padding-top: 100px;
  margin-top:100px;
}

#changeText{
  padding-top:200px
}

#checkbox-litery{
  text-align: center;
}
@media all and (max-width: 1350px) {
  .biale_pole {
    margin-top: 110px;
    margin-bottom: 20%;
    height: 50%;
  }
  .kwadrat {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
  }
  #changeText{
    padding-top:150px
  }
}
@media all and (max-width: 1060px) {
  .second {
    width: 520px;

  }
}