body{
  background-color: #efebe9;
}
.podstrona{
  text-align: center;
  font-size: 25px;
  padding-top: 200px;
  border: solid 1px;
}

#punkty{
  text-align: left;
}

/*start page*/
.str_p_h1{
  text-decoration: none;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #000000;

}
.images{
  padding-top: 30px;
  text-align: center;
}
#str_p_h1_back{
  background-color: #ffe54c;/*rgb(247, 211, 54) ;*/
}
#start_page{
  background-color: #efebe9;
}
.buttons_position{
  text-align: center;
  margin: 5px;
  padding: 5px;
  padding-top: 50px;

}

.start_buttons {
  width: 30%;
  table-layout: fixed;
  margin: 10px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start_buttons:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #fce892;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;

}

.start_buttons:hover:after {
  top: 0px;
  left: 0px;
}

.start_buttons:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}


@media (min-width: 768px) {
  .start_buttons {
    padding: 13px 50px 13px;
  }
}
.start_buttons span {
  z-index: 1;
  position: relative;
}
.buttons_task{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   width: 100%;
   left: 0;
   position: absolute;
   top: 0;

}

/*login page*/
#h2_log{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: #000000;
}
.form{
  text-align: center;
}
/*index*/
#log_out{
  position: fixed;
  right: 15px; top: 15px;
}
.logout_button{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: #ffe54c;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;')
}
.logout_button:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .logout_button {
    /*font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;*/
    padding: 13px 50px 13px;
  }
}
#panel{
  text-align: center;
}
.panel_wykresy{
  text-align: center;
  padding:30px 50px;
}
.tab {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;

}

/* Style the buttons inside the tab */
.tab button {
  border: 1px solid black;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {

  background-color: #ffe54c;
}

/* Create an active/current tablink class */
.tab button.active {
 background-color: #ffe54c;
}

/* Style the tab content */
.tabcontent {
  background-color: #ebeaea;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tytul{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}
.tresc_strony{
  text-align: center;
  padding: 0px 100px;
}

.opis_cwiczen{
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
  padding: 0px 20% 30px 20%;
  font-size: 20px;
  letter-spacing: 1px;
}
.buttons{
  padding-top: 20px;
}
.circles {
  display: flex;
  right: 15px; top: 15px;
}
.circle-red {
  background: #ff7043;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 80px;
  width: 80px;
  font-family: 'Quicksand', sans-serif;
  color:black;
}
.circle-green {
  background-color: #d4e157;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 80px;
  width: 80px;
  font-family: 'Quicksand', sans-serif, bold;
  color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ffe54c;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffe54c;
}
.dzialanie{
  text-align: center;
  padding-top:10%;
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}
