<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Biblliografia</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/image10.png" type="image/icon type">
</head>
<body>
<p> 1. <a href="https://www.cognifit.com/pl/pl/science/cognitive-skills/working-memory">https://www.cognifit.com/pl/pl/science/cognitive-skills/working-memory</a></p>
<p> 2. <a href="https://www.psytoolkit.org/experiment-library/nback2.html">https://www.psytoolkit.org/experiment-library/nback2.html</a></p>
<p> 3. Ikonka żarówki<a href="https://www.flaticon.com/premium-icon/light-bulb_2987972?term=bulb&page=1&position=12&page=1&position=12&related_id=2987972&origin=search">https://www.flaticon.com/premium-icon/light-bulb_2987972?term=bulb&page=1&position=12&page=1&position=12&related_id=2987972&origin=search</a></p>
<p> 3. Ikonka mózgu<a href="https://www.flaticon.com/premium-icon/brain_109827?term=brain&page=1&position=1&page=1&position=1&related_id=109827&origin=search">https://www.flaticon.com/premium-icon/brain_109827?term=brain&page=1&position=1&page=1&position=1&related_id=109827&origin=search</a></p>
<p> 3. Ikonka zembatki<a href="https://www.flaticon.com/free-icon/settings_900797?term=settings&page=1&position=10&page=1&position=10&related_id=900797&origin=search">https://www.flaticon.com/free-icon/settings_900797?term=settings&page=1&position=10&page=1&position=10&related_id=900797&origin=search</a></p>

</body>
</html>