<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj sie</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/image10.png" type="image/icon type">
    <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</head>
<body id="start_page">
<div id="str_p_h1_back" >
    <div style="text-align:center">
    <a class="str_p_h1" href="http://wierzba.wzks.uj.edu.pl:5122/start_page"> Pamięć robocza - zestaw ćwiczeń</a>
    </div>    <!--<hr />-->
</div>
<div class="form">
    <h2 id="h2_log"><span class="text"> Zaloguj się </span></h2>
    <form action="" method="post">
       {{ form.hidden_tag() }}
       <div>
          {{ form.email(placeholder="Email",
          style='width: 25%;
          font-size: 15px;
          padding: 12px 20px ;
          margin: 8px 0;
          border: 1px solid black;
           border-radius: 4px;
          box-sizing: border-box') }}
       </div>
       <br>
       <div>
          {{ form.password(placeholder="Haslo",
          style='width: 25%;
          font-size: 15px;
          padding: 12px 20px ;
          margin: 8px 0;
          border: 1px solid black;
          border-radius: 4px;
          box-sizing: border-box') }}

       </div>
       {% for message in get_flashed_messages() %}
       <p style="color: red;">Nieprawidłowe haslo lub email</p>
       {% endfor %}
       <p>{{ form.submit(style ='font-size: 16px;
         font-family: Quicksand, sans-serif;
         font-weight: 200;
         letter-spacing: 1px;
         padding: 13px 20px 13px;
         outline: 0;
         border: 1px solid black;
         cursor: pointer;
         position: relative;
         background-color: #ffe54c;
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation;') }}
       </p>
    </form>
</div>

</body>
</html>