<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podsumowanie</title>
    <script type="text/javascript">

         setTimeout(function(){
            window.location.href = 'http://wierzba.wzks.uj.edu.pl:5122/nowa';
         }, 10000);

    </script>
</head>
<body>
    <p>procent: {{zadanie.zle}} / {{zadanie.dobrze}}</p>
    <p>{{zadanie.procenty}}%</p>
    <p>Podales prawidłowo {{zadanie.punkty}} litery z {{ zadanie.wszystkie_litery}} </p>
    <p>Popełniłeś {{zadanie.zle}} blad matematyczny z </p>

</body>
</html>