<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/image10.png" type="image/icon type">
</head>
<body id="start_page">
<div id="str_p_h1_back" >
    <div style="text-align:center">
    <a class="str_p_h1" href="http://wierzba.wzks.uj.edu.pl:5122/start_page"> Pamięć robocza - zestaw ćwiczeń</a>
    </div>    <!--<hr />-->
</div>
<div class="form">
    <h2 id="h2_log">Załóż konto</h2>
   <form action="" method="post">
      {{ form.hidden_tag() }}
      <div>
         {{ form.username(placeholder="Nazwa",
         style='width: 25%;
         padding: 12px 20px ;
         margin: 8px 0;
         border: 1px solid black;
         border-radius: 4px;
         box-sizing: border-box') }}
      </div>
      <br>
      <div>
         {{ form.email(placeholder="Email",
         style='width: 25%;
         padding: 12px 20px ;
         margin: 8px 0;
         border: 1px solid black;
         border-radius: 4px;
         box-sizing: border-box') }}
      </div>
      <br>
      <div>
         {{ form.password1(placeholder="Haslo",
         style='width: 25%;
         padding: 12px 20px ;
         margin: 8px 0;
         border: 1px solid black;
         border-radius: 4px;
         box-sizing: border-box') }}
      </div>
      <br>
      <div>
         {{ form.password2(placeholder="Powtóż hasło",
         style='width: 25%;
         padding: 12px 20px ;
         margin: 8px 0;
         border: 1px solid black;
         border-radius: 4px;
         box-sizing: border-box') }}
      </div>
      <br>
      <div>{{ form.submit(style ='font-size: 16px;
         font-weight: 200;
         letter-spacing: 1px;
         padding: 13px 20px 13px;
         outline: 0;
         border: 1px solid black;
         cursor: pointer;
         position: relative;
         background-color: #ffe54c;
         user-select: none;
         -webkit-user-select: none;
         touch-action: manipulation;') }}
      </div>
   </form>
   <p></p>
   <h3><a style=" font-size: 16px; color: black; font-weight: 200; letter-spacing: 1px;" href="{{ url_for('login') }}">Masz już konto?</a></h3>
</div>>

</body>
</html>