<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css" media="screen"/>
    <title>Zadanie 1</title>
</head>
<body>
        <div>

          <a href="{{ url_for('index') }}">Home</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <p>Welcome {{current_user.username}}</p>
          <p>Welcome {{current_user.id}}</p>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}

        </div>
        <div class="button" id="zadanie1">
            <form action="{{url_for('index')}}" method="post">
                <input type="submit" name="action" value="Zadanie 1" class="button">
            </form>
        </div>
        <div class="button"id="zadanie2">
            <form action="{{url_for('index')}}" method="post">
                <input type="submit" name="action" value="Zadanie 2" class="button">
            </form>
        </div>
        <div class="button" id="zadanie3">
            <form action="{{url_for('index')}}" method="post">
                <input type="submit" name="action" value="Zadanie 3" class="button">
            </form>
        </div>
        <div class="button" id="wykresy">
            <form action="{{url_for('index')}}" method="post">
                <input type="submit" name="action" value="Wykresy" class="button">
            </form>
        </div>


</body>
</html>