<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela</title>
</head>
<body>
    <div id=checkbox-litery">
        <p>Lista liter:</p>
        <table>
            <form name=form1 action="{{url_for('zadanie1')}}" method="get">
             <tr>
                  <td><input type="text" name= "comment.F" id='F' value=" " size="2" onclick="foo(this.id);" />
                      <label for="F"> F </label></td>
                  <td><input type="text" name= "comment.H" id='H' value=" " size="2" onclick="foo(this.id);" />
                      <label for="H"> H </label></td>
                  <td><input type="text" name= "comment.J" id='J' value=" " size="2" onclick="foo(this.id);" />
                      <label for="J"> J </label></td>
             </tr>
             <tr>
                  <td><input type="text" name= "comment.K" id='K' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="K"> K </label></td>
                  <td><input type="text" name= "comment.L" id='L' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="L"> L </label></td>
                  <td><input type="text" name= "comment.N" id='N' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="N"> N </label></td>
             </tr>
             <tr>
                  <td><input type="text" name= "comment.P" id='P' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="P"> P </label></td>
                  <td><input type="text" name= "comment.Q" id='Q' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="Q"> Q </label></td>
                  <td><input type="text" name= "comment.R" id='R' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="R"> R </label></td>
             </tr>
             <tr>
                  <td><input type="text" name= "comment.S" id='S' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="S"> S </label></td>
                  <td><input type="text" name= "comment.T" id='T' value=" " size="2" onclick="foo(this.id);"/>
                      <label for="T"> T </label></td>
                  <td><input type="text" name= "comment.Y" id='Y' value=" " size="2" onclick="foo(this.id);" />
                      <label for="Y"> Y </label></td>
             </tr>
                <input type="button" value="Reset" onclick="reset(); nowe();">
                <input type="submit" name="action" value="Zapisz">
            </form>
        </table>
    </div>
</body>
</html>